@font-face {
  font-family: 'iconfont';  /* project id 2346002 */
  src: url('//at.alicdn.com/t/font_2346002_gl8ojbmyr7e.eot');
  src: url('//at.alicdn.com/t/font_2346002_gl8ojbmyr7e.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2346002_gl8ojbmyr7e.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2346002_gl8ojbmyr7e.woff') format('woff'),
  url('//at.alicdn.com/t/font_2346002_gl8ojbmyr7e.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2346002_gl8ojbmyr7e.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}